*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}

html,body{
    height: 100%;
    background-color: #ffe7b9;
}

h2, h3 {
    color: #8a7a49;
    margin-bottom: 15px;
}

.banner img{
    width: 100%;
}